/node_modules
/public/hot
/public/image/avatar
/public/image/gallery
/public/image/hero
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
